@mixin pseudo {
    content: "";
    background: $color-primary;
    width: 0%;
    height: 3px;
    border-radius: 4px;
    position: absolute;
    bottom: -8px;
    left: 0;
    transition: width ease-in-out 0.3s;
  }
  @mixin linkPseudo {
    font-size: 15px;
    position: relative;
    font-weight: 500;
    &::after {
      content: "";
      position: absolute;
      width: 110%;
      height: 9px;
      left: -4px;
      bottom: 0;
      background: $color-primary-light;
      z-index: -2;
    }
  }
  @mixin btnHover($col1, $col2, $col3) {
    background: $col1;
    color: $col2;
    border-color: $col3;
  }
  @mixin btn-style1 {
    width: 75px;
    height: 35px;
    border: 1px solid $color-primary;
    background: #fff;
    border-radius: 2px;
    color: $color-primary;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
  }
  @mixin btn-style2 {
    width: 100px;
    height: 35px;
    border: 1px solid $color-primary;
    color: #fff;
    border-radius: 2px;
    background: $color-primary;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
  }
  @mixin font {
    font-family: Playfair Display;
    font-weight: bold;
    font-size: 46px;
    line-height: 60px;
  }