@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
// variables
$color-primary: #6c63ff;
$color-neutral: #9893a3;
$color-primary-light: rgba(197, 194, 255, 0.5);
$color-dark: #2f2e41;


$width: 86%;

// mixins
@mixin pseudo {
  content: "";
  background: $color-primary;
  width: 0%;
  height: 3px;
  border-radius: 4px;
  position: absolute;
  bottom: -8px;
  left: 0;
  transition: width ease-in-out 0.3s;
}
@mixin linkPseudo {
  font-size: 15px;
  position: relative;
  font-weight: 500;
  &::after {
    content: "";
    position: absolute;
    width: 110%;
    height: 9px;
    left: -4px;
    bottom: 0;
    background: $color-primary-light;
    z-index: -2;
  }
}
@mixin btnHover($col1, $col2, $col3) {
  background: $col1;
  color: $col2;
  border-color: $col3;
}
@mixin btn-style1 {
  width: 75px;
  height: 35px;
  border: 1px solid $color-primary;
  background: #fff;
  border-radius: 2px;
  color: $color-primary;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}
@mixin btn-style2 {
  width: 100px;
  height: 35px;
  border: 1px solid $color-primary;
  color: #fff;
  border-radius: 2px;
  background: $color-primary;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}
@mixin font {
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 46px;
  line-height: 60px;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: Open Sans;
  color: $color-dark;
}
a {
  color: $color-dark;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  .nav-links {
    font-size: 14px;
    font-weight: 500;
    display: flex;
    li {
      position: relative;
      &:not(:first-child) {
        margin-left: 20px;
        a {
          color: $color-neutral;
        }
      }
      &::after {
        @include pseudo;
      }
      &:hover::after {
        width: 100%;
      }
    }
  }
  .nav-buttons {
    .log-in {
      @include btn-style1;

      &:hover {
        @include btnHover($color-primary, #fff, $color-primary);
      }
    }
    .sign-up {
      @include btn-style2;
      margin-left: 16px;
      &:hover {
        @include btnHover(#fff, $color-primary, $color-primary);
      }
    }
  }
}

// header
.header {
  display: flex;
  width: $width;
  margin: 80px auto 0;
  justify-content: space-between;
  align-items: center;

  .header-content {
    width: 40%;
    p:first-child {
      font-family: Playfair Display;
      font-weight: bold;
      font-size: 86px;
      line-height: 88px;
    }
    p:nth-child(2) {
      color: $color-neutral;
      font-size: 15px;
      line-height: 30px;
      font-weight: 200;
      margin-top: 20px;
    }
    button {
      @include btn-style2;
      &:hover {
        @include btnHover(#fff, $color-primary, $color-primary);
      }
      margin-top: 40px;
    }
  }
  .header-img {
    width: 50%;
  }
}

// main body

.partners {
  width: 60%;
  margin: 100px auto 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
  img {
    width: 80px;
  }
}

// feature section
.feature-section {
  margin-top: 200px;
  .feature {
    display: flex;
    width: $width;
    margin: 80px auto 200px;
    justify-content: space-between;
    align-items: center;
    img {
      width: 50%;
    }
    .feature-content {
      width: 40%;
      p:first-child {
        @include font;
      }
      p:nth-child(2) {
        color: $color-neutral;
        font-size: 15px;
        line-height: 30px;
        font-weight: 200;
        margin-top: 20px;
        margin-bottom: 50px;
      }
      a:last-child {
        @include linkPseudo;
      }
    }
  }
}

// pricing section
.pricing-section {
  text-align: center;
  width: $width;
  margin: 0 auto 200px;
  .pricing-heading {
    @include font;
  }

  .pricing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    .pricing-container {
      text-align: center;
      width: 28%;
      height: 420px;
      background: #ecebff4d;
      color: $color-neutral;
      font-weight: 200;
      font-size: 15px;
      display: grid;
      place-items: center;
      border-radius: 4px;
      transition: height ease-in-out 0.4s;

      .price {
        color: #000;
        font-size: 45px;
        font-weight: 700;
        margin-top: 30px;
      }
      span {
        font-size: 15px;
        font-weight: 200;
      }
      .price-features {
        margin-top: 40px;
        p:not(:first-child) {
          margin-top: 20px;
        }
      }
      button {
        @include btn-style2;
        @include btnHover(transparent, $color-primary, $color-primary);
        margin-top: 50px;
      }
      &:hover {
        height: 480px;
        color: #fff;
        background: $color-primary;
        cursor: pointer;
        .price {
          color: #fff;
        }
        button {
          @include btnHover(#fff, $color-primary, $color-primary);
        }
      }
    }
  }
}

// blogs
.blog-section {
  width: $width;
  margin: 0 auto;
  .blog-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      @include font;
    }
    button {
      @include btn-style1;
      &:hover {
        @include btnHover($color-primary, #fff, $color-primary);
      }
    }
  }
  .blogs {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    .blog {
      width: 28%;
      img {
        width: 100%;
      }
      .blog-title {
        font-weight: 600;
        font-size: 18px;
        line-height: 30px;
        margin-top: 20px;
      }
      .blog-description {
        color: $color-neutral;
        font-size: 13px;
        font-weight: 100;
        line-height: 25px;
        margin: 10px 0 30px;
      }
      a {
        @include linkPseudo;
      }
    }
  }
}

// footer
footer {
  background: $color-primary-light;
  margin-top: 350px;
  padding: 250px 0 150px;
  position: relative;
  display: flex;
  justify-content: center;
  .footer-content {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
    div {
      .footer-links-heading {
        font-weight: 600;
        font-size: 15px;
        line-height: 24px;
        margin-bottom: 15px;
      }
      ul {
        color: $color-neutral;
        font-size: 14px;
        font-weight: 300;
       
        li:not(:first-child){
            margin-top: 10px;
        }
      }
     
    }
  }
  .rights{
      width: 100%;
      position: absolute;
      bottom: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 20px;
      img{
          width: 70px;
          padding-left: 40px;
      }
      p{
          color: $color-neutral;
          font-size: 13px;
          padding-right: 40px;
      }
    
  }
  .contact{
      width: 60%;
      background: $color-dark;
      border-radius: 3px;
      height: 270px;
      position: absolute;
      top: calc(270/2) * -1px;
      margin: 0 auto;
      display: grid;
      place-items: center;
      div{
          width: 80%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          p {
              @include font;
              width: 60%;
              font-size: 40px;
              line-height: 50px;
              color: #fff;
          }
          button{
              @include btn-style2;
              width: 140px;
              &:hover{
                  @include btnHover(transparent, #fff, $color-primary);
              }
          }
      }
  }
}
